/* -- custom css for file index.html -- */

/* -- page-content -- */
#left-panel-page-content {
	background-color: rgb(125, 249, 178);
	 background-image: linear-gradient(rgb(125, 249, 178), rgb(181, 197, 141));
}

/* -- block custom-block -- */
#obj-pbgswh897 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-glephs604 {
	margin-top: 0px;
	 margin-bottom: 0px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- lead text-danger -- */
#obj-bkpwcc599 {
	margin-top: 5px;
	 margin-bottom: 0px;
	 font-size: 15px;
}

/* -- list form ajax-submit pb-2 form-ajax-submit bg-light inset -- */
#obj-nrohwt981 {
	border-top-left-radius: 16px;
	 border-top-right-radius: 16px;
	 border-bottom-right-radius: 16px;
	 border-bottom-left-radius: 16px;
	 border: 1px none;
	 padding-top: 0px;
	 margin-top: 10px;
}

/* -- block custom-block -- */
#obj-zwobnw803 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-ofhmmn078 {
	margin-top: 0px;
	 margin-bottom: 0px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- lead text-danger -- */
#obj-btslfs920 {
	margin-top: 5px;
	 margin-bottom: 0px;
	 font-size: 15px;
}

/* -- list form ajax-submit pb-2 form-ajax-submit bg-light inset -- */
#obj-dpvblq111 {
	border-top-left-radius: 16px;
	 border-top-right-radius: 16px;
	 border-bottom-right-radius: 16px;
	 border-bottom-left-radius: 16px;
	 border: 1px none;
	 padding-top: 0px;
	 margin-top: 10px;
}

/* -- block custom-block -- */
#obj-wvlugq626 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- col button button-raised button-round button-fill -- */
#obj-ldrvaq784 {
	margin-top: 10px;
}

/* -- title -- */
#title-o-446fqnl146fqnlabgk {
	left: -1px;
}

/* -- toolbar tabbar toolbar-bottom tabbar-labels -- */
#obj-dbnwav241 {
	padding-top: 0px;
}

/* -- block custom-block -- */
#obj-vvokue810 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- card -- */
#obj-kyovkr101 {
	padding-top: 0px;
	 background-color: rgb(204, 204, 204);
}

/* -- h1 text-center -- */
#obj-pmkyvs395 {
	font-family: "Fredoka One";
}

/* -- img w-100 img-fluid bg-transparent -- */
#obj-ysldcg243 {
	padding-top: 0px;
}

/* -- list inset bg-light -- */
#obj-jffrld934 {
	margin-top: 0px;
	 margin-left: 10px;
	 margin-right: 10px;
}

/* -- card -- */
#obj-qpista488 {
	background-color: rgb(204, 204, 204);
}

/* -- h1 text-center -- */
#obj-jybbfk179 {
	font-family: "Fredoka One";
}

/* -- list inset bg-light -- */
#obj-tcoydd406 {
	margin-top: 0px;
	 margin-left: 10px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-soondi790 {
	padding-top: 0px;
	 margin-top: 0px;
	 margin-bottom: 20px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- h1 -- */
#obj-wanira437 {
	margin-top: 0px;
	 margin-bottom: 15px;
}

/* -- block-title -- */
#obj-xbktqt807 {
	margin-top: 10px;
	 margin-left: 0px;
	 margin-bottom: 0px;
	 font-size: 22px;
}

/* -- lead -- */
#obj-gfizrc736 {
	margin-top: 5px;
	 color: rgb(51, 51, 51);
}

/* -- list -- */
#obj-mjygrg198 {
	margin-top: 16px;
	 margin-bottom: 16px;
}

/* -- material-icons -- */
#obj-ouczuh935 {
	color:rgb(0, 0, 0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- material-icons -- */
#obj-ggxpau567 {
	color:rgb(0, 0, 0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- col button button-raised button-fill -- */
#obj-qmlykh879 {
	margin-top: 16px;
}

/* -- col button button-raised button-fill -- */
#obj-ieqypy189 {
	margin-top: 20px;
}

/* -- list -- */
#obj-itnbwa352 {
	margin-top: 5px;
	 margin-bottom: 5px;
}

/* -- material-icons -- */
#obj-afirco984 {
	color:rgb(0, 0, 0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- list accordion-list bg-color-lightblue inset -- */
#obj-ppspji186 {
	padding-top: 0px;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 color: rgb(255, 255, 255);
}

/* -- block custom-block -- */
#div-ipghdb163 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list form ajax-submit pb-2 form-ajax-submit inline-labels -- */
#obj-frhmij881 {
	border: 1px none;
}

/* -- block custom-block -- */
#obj-sjmmpe122 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- swiper-container swiper-demo swiper-container-initialized swiper-container-horizontal swiper-container-autoheight swiper-container-ios -- */
#obj-bjtuaz877 {
	height: 300px;
	 padding-top: 0px;
	 padding-bottom: 30px;
	 margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- swiper-slide swiper-slide-visible swiper-slide-active -- */
#obj-xneijj237 {
	width: 370px;
	 margin-right: 10px;
}

/* -- block-title block-title-medium -- */
#obj-krsoni759 {
	margin-top: 35px;
	 margin-bottom: 20px;
}

/* -- block custom-block -- */
#obj-uvsyln776 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list -- */
#obj-rhaovp152 {
	margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- f7-icons -- */
#obj-fvhlag998 {
	color:rgb(0, 0, 0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- f7-icons -- */
#obj-zomdii476 {
	color:rgb(0,255,0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- f7-icons -- */
#obj-pguzns185 {
	color:rgb(255,51,51);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- swiper-slide swiper-slide-next -- */
#obj-siwhhv886 {
	width: 370px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-oryyeb443 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list form ajax-submit pb-2 form-ajax-submit bg-color-lightblue text-white inset inline-labels -- */
#obj-bzqpju090 {
	border-top-left-radius: 16px;
	 border-top-right-radius: 16px;
	 border-bottom-right-radius: 16px;
	 border-bottom-left-radius: 16px;
	 margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- block custom-block -- */
#obj-ivoypn361 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- swiper-container swiper-demo swiper-container-initialized swiper-container-horizontal swiper-container-autoheight swiper-container-ios -- */
#obj-erevvp669 {
	height: 300px;
	 padding-top: 0px;
	 padding-bottom: 30px;
	 margin-top: 27px;
	 margin-bottom: 20px;
}

/* -- swiper-slide swiper-slide-visible swiper-slide-active -- */
#obj-tygjlj036 {
	width: 370px;
	 margin-right: 10px;
}

/* -- block-title block-title-medium -- */
#obj-wrigce972 {
	margin-top: 35px;
	 margin-bottom: 20px;
}

/* -- block custom-block -- */
#obj-ewmyxt157 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list -- */
#obj-lcwtfw935 {
	margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- f7-icons -- */
#obj-ikskru673 {
	color:rgb(0, 0, 0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- f7-icons -- */
#obj-pfovgo789 {
	color:rgb(0,255,0);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- f7-icons -- */
#obj-eysviq868 {
	color:rgb(255,51,51);
	 background-color:rgba(0, 0, 0, 0);
}

/* -- swiper-slide swiper-slide-next -- */
#obj-hzmubc842 {
	width: 370px;
	 margin-right: 10px;
}

/* -- block custom-block -- */
#obj-cfykbg256 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- list form ajax-submit pb-2 form-ajax-submit bg-color-lightblue text-white inset inline-labels -- */
#obj-ltogwj975 {
	border-top-left-radius: 16px;
	 border-top-right-radius: 16px;
	 border-bottom-right-radius: 16px;
	 border-bottom-left-radius: 16px;
	 margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- block custom-block -- */
#obj-wthkmu750 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-ifrffe771 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-bauvkh793 {
	margin-top: 10px;
	 margin-bottom: 10px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- lead text-muted -- */
#obj-smuykl292 {
	margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- h2 -- */
#obj-okrbab293 {
	margin-top: 0px;
	 margin-bottom: 0px;
}

/* -- h2 -- */
#obj-jtclhb517 {
	margin-top: 0px;
	 margin-bottom: 0px;
}

